ipython
jycm
matplotlib
networkx
numpy
pyvis
Requests
pandas
lazydocs
pytest-xdist
unittest-parallel
humanize
jsonpickle
hypothesis
psycopg2-binary
python-dotenv
torch
torchvision
torchaudio
tensorflow
pympler
numba
tabulate
snakeviz
line_profiler
memory_profiler
py-spy